
@{
    ViewBag.Title = "ViewEmail";
}

<div class="registerForm" style="height:520px;margin-bottom:120px;">
    <form name="registration_form" class="form registration" method="post" style="height:250px;" action="~/LoginUser/changeEmil">
        <label for="userEmail">Новий Email:</label>
        <input name="userEmail" type="email" id="userEmail" class="form-control" required>

        <input name="register" type="submit" value="Змінити" class="btn btn-success form-control" style="margin-top: 30px">
        <div class="reg">
            @Html.ActionLink("Назад?", "Profile", "Home", new { area = "" }, new { @class = "" })
        </div>
    </form>
</div>