@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" type="text/css" href="~/Content/contact.css" />
<div class="contact_div" style="margin-left:430px">
    <p style="font-weight: bold;font-size: 17px">Контакти:</p>
    <p>
        Україна,Волиньска область
        м.Луцьк вул.Незалежності,5
    </p>
    <p style="font-weight: bold;font-size: 18px">Головний директора фірми:</p>
    <p style="margin-right: 15px;">тел :  (099) 63-67-125</p>
    <p style="font-weight: bold;font-size: 18px;">Менеджер з продаж:</p>
    <p>тел: (099) 63-67-125</p>
    <p>E-mail :  nazar.korniychuk@ukr.net</p>
    <p style="font-weight: bold;font-size: 18px">З питаннями оренди</p>
    <p >E-mail :  nazar.korniychuk@ukr.net</p>
    <p >E-mail :  nazar.korniychuk523@gmail.com</p>
    <p >тел :  +38 (099) 36-37-987</p>
    <p >тел :  +38 (099) 63-67-125</p>
    <p>тел :  +38 (099) 75-37-977</p>
</div>
<div class="contact_div">
    <p style="font-weight: bold; font-size:18px">Як доїхати</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20199.247955315852!2d25.31752144618478!3d50.74023239799176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472599eba185965d%3A0xd25274a2228db86c!2z0JvRg9GG0YzQuiwg0JLQvtC70LjQvdGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1630956536055!5m2!1suk!2sua" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="contact_div contact_divv">
    <h2>Ваші питання:</h2>
    <input id="name" type="text" placeholder="Імя" class="form-control input_text">
    <input id="email" type="email" placeholder="Email" class="form-control input_text">
    <br>
    <p><textarea id="text" name="text" placeholder="Повідомлення" class="form-control input_text" style="height: 150px"></textarea></p>
    <input type="button" class="btn_contact" value="Відправити" onclick="Show_mail()">
</div>
